*
  box-sizing: border-box
  font-family: -apple-system, system, sans-serif
html
  height: 100%
body
  height: 100%
  margin: 0
  overflow: hidden

.mdl-layout__header-row
  padding: 0!important

.instance:nth-child(odd)
  // margin-left: 8px !important
  margin-right: 4px !important

.instance:nth-child(even)
  // margin-right: 6px !important

